vini-open-bank-api/src/voba.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/voba/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="voba" targetNamespace="http://www.example.org/voba/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/voba/">
      <xsd:element name="insert">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="customerId" type="xsd:string" />
          	<xsd:element name="firstName" type="xsd:string"></xsd:element>
          	<xsd:element name="lastName" type="xsd:string"></xsd:element>
          	<xsd:element name="accountId" type="xsd:string"></xsd:element>
          	<xsd:element name="accountNo" type="xsd:string"></xsd:element>
          	<xsd:element name="sortCode" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="update">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="updateResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="delete">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="select">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="selectResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="insertRequest">
    <wsdl:part element="tns:insert" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="insertResponse">
    <wsdl:part element="tns:insertResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateRequest">
  	<wsdl:part name="parameters" element="tns:update"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
  	<wsdl:part name="parameters" element="tns:updateResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRequest">
  	<wsdl:part name="parameters" element="tns:delete"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
  	<wsdl:part name="parameters" element="tns:deleteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="selectRequest">
  	<wsdl:part name="parameters" element="tns:select"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="selectResponse">
  	<wsdl:part name="parameters" element="tns:selectResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="voba">
    <wsdl:operation name="insert">
      <wsdl:input message="tns:insertRequest"/>
      <wsdl:output message="tns:insertResponse"/>
    </wsdl:operation>
    <wsdl:operation name="update">
    	<wsdl:input message="tns:updateRequest"></wsdl:input>
    	<wsdl:output message="tns:updateResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
    	<wsdl:input message="tns:deleteRequest"></wsdl:input>
    	<wsdl:output message="tns:deleteResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select">
    	<wsdl:input message="tns:selectRequest"></wsdl:input>
    	<wsdl:output message="tns:selectResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vobaSOAP" type="tns:voba">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://www.example.org/voba/insert"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="voba">
    <wsdl:port binding="tns:vobaSOAP" name="vobaSOAP">
      <soap:address location="http://www.voba.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
